/* 배경 */
.bg {
display: flex;
/* width: 100%; */
padding: 100px 0 239px 0;
justify-content: center;
align-items: center;
}

/* 폼 레이아웃 */
.signup-form {
/* 레이아웃 */
display: flex;
padding: 92px 97px 129px 96px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
/* 스타일 */
border-radius: 12px;
border: 1px solid var(--LightGray, #BEBEBE);
background: #FFF;
box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
}

/* 폼 내부 레이아웃 */
.login_buttons {
gap: 30px;
display: flex;
width: 40dvw;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

/* 로고 */
.logo {
color: #000;
text-align: center;
font-family: "Press Start 2P"; 
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* 로그인 종류별 스타일 */
.kakao {
/* 레이아웃 */
display: flex;
padding: 24px ;
justify-content: center;
align-items: center;
align-self: stretch;
/* 스타일 */
border-radius: 12px;
border: 1px solid var(--LightGray, #BEBEBE);
background: #FEE500;
font-size: 1dvw;
/* 내부 레이아웃 */
display: flex;
align-items: center;
gap: 30px;
}

.google {
/* 레이아웃 */
display: flex;
padding: 24px ;
justify-content: center;
align-items: center;
align-self: stretch;
/* 스타일 */
border-radius: 12px;
border: 1px solid var(--LightGray, #BEBEBE);
background: #FFF;
font-size: 1dvw;
/* 내부 레이아웃 */
display: flex;
align-items: center;
gap: 30px;
}

.naver {
/* 레이아웃 */
display: flex;
padding: 24px ;
justify-content: center;
align-items: center;
align-self: stretch;
/* 스타일 */
border-radius: 12px;
background: #04C75B;
font-size: 1dvw;

/* 내부 레이아웃 */
display: flex;
align-items: center;
gap: 20px;

}

.github {
/* 레이아웃 */
display: flex;
padding: 24px ;
justify-content: center;
align-items: center;
align-self: stretch;
/* 스타일 */
border-radius: 12px;
border: 1px solid var(--LightGray, #BEBEBE);
background: #FFF;
font-size: 1dvw;

/* 내부 레이아웃 */
display: flex;
align-items: center;
gap: 20px;
}

/* 아이콘 스타일 */
.kakao_icon {
width: 35px;
height: 35px;
flex-shrink: 0;
aspect-ratio: 1/1;
background: url("@/public/assets/kakao_icon.svg") 50% / cover no-repeat;

}

.google_icon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
aspect-ratio: 1/1;
background: url("@/public/assets/google_icon.svg") 50% / cover no-repeat;

}

.naver_icon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background: url("@/public/assets/naver_icon.svg") 50% / cover no-repeat;
    
}

.github_icon {
width: 35px;
height: 35px;
flex-shrink: 0;
aspect-ratio: 1/1;
background: url("@/public/assets/github_icon.svg") 50% / cover no-repeat;

}

.kakao:hover {
    cursor: pointer;
    color: white;
    background-color: #4d2512;
}
.google:hover {
    cursor: pointer;
    color: white;
    background-color: #585858;
}
.naver:hover {
    cursor: pointer;
    color: white;
    background-color: #2DB400;
}
.github:hover {
    cursor: pointer;
    color: white;
    background-color: #000000;
}