@import url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css');
@import "tailwindcss";

/* 기본 폰트는 body에만 적용해야 Tailwind 클래스가 덮어쓸 수 있음 */
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem; /* 16px */
}

html {
  overflow: hidden;
  font-size: 62.5%; /* 1rem = 10px */
}

.react-hot-toast {
  z-index: 99999 !important;
}
