.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   /* 세로 중앙 */
  margin: 80px 0;
  background-color: black;
  inset: 0;                /* 화면 전체 */
  width: 100vw;     
  height: 100vh;   
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #ccc;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}